<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>匹配系统</title>
    	<meta name="viewport" content="width=device-width, initial-scale = 1.0,maximum-scale = 1.0,minimum-scale=1.0,user-scalable = no" />
        <link rel="stylesheet" type="text/css" href="/static/css/iconfont/iconfont.css?ver=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/css/match.css?ver=1.01">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <script src="/static/js/analysis.js?ver=1.0"></script>
    </head>
    <body>
        <header class="header_two center">
            <div class ="posr">
                <div class="arrow-back" onclick="javascript:window.location='{{ url_for('index') }}'"><i class="iconfont">&#x5345;</i></div>
                <p>匹配系统</p>
            </div>
        </header>
        <div class="alertWord center">
            <p>
                为了提高匹配精确度<br>
                请认真完善自己资料哦。
            </p>
        </div>
        <div class="prefect_info_btn center">
             <a role="button" href="{{ url_for('edit') }}">
                <button class="button_match">完善资料</button>
             </a>
        </div>
        <div class="end_word">
            <p>在这里<br>找到人人茫海中的那个TA<br>带你进入TA的世界。</p>
        </div>      
    </body>
</html>