<!DOCTYPE html>
<html lang="zh">
<head>
	<title>千人圣诞狂欢节</title>
	<meta charset="UTF-8">
	<meta name="author" content="Joey">
	<meta name="keywords" content="武汉高校之恋 圣诞前任狂欢节">
	<meta name="description" content="3D光影 激光水幕 美食 造雪 灯光雕塑 体感游戏">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="/static/css/ticket.css">
</head>
<body>
	<!-- page begining -->
	<div class='page'>
		<!-- pageWrap beginging -->
		<div class='pageWrap'>
			<section class='section index'></section>
			<!-- section 1 -->
			<section class='section feature mt10'>
				<div class='pic feature1'>
					<span class='word'>裸眼3D光影秀</span>
				</div>
				<div class='pic feature2 mt10'>
					<span class='word'>激光水幕电影</span>
				</div>
				<div class='pic feature3 mt10'>
					<span class='word'>招牌DJ潮流音乐</span>
				</div>
				<div class='pic feature4 mt10'>
					<span class='word'>华丽造雪机</span>
				</div>
				<div class='pic feature5 mt10'>
					<span class='word'>免费海洋馆</span>
				</div>
			</section>
			<!-- section 1.5 -->
            <section class='section trans mt20'>
				<h1>狂欢节概况</h1>
				<p>
雅图2014东湖光影狂欢节将于12月24日至1月2日每晚在东湖海洋世界举行，为期7天。12月24日至27日为“圣诞狂欢季”，12月31日至1月2日为“元旦狂欢季”。
				</p>
			</section>
			<!-- section 2 -->
			<section class='section des mt20'>
				<h1>活动简介</h1>
				<p>
				<b>时间</b>：12月27号周六晚6点到11点。<br>
				<b>地点</b>：东湖海洋世界<br>
				<b>对象</b>：通过武汉高校之恋报名的各高校学生。当然，现场还会有其他参加狂欢节的人~<br>
				<b>内容</b>：声光影狂欢&美食酒吧&第一场雪&海洋馆&跨校交友<br/>
                    <span class='small impor'>如27号有事，您亦可选择"元旦狂欢季"自行前往</span>
				</p>
			</section>
			<!-- section 3 -->
			<section class='section trans mt20'>
				<h1>交通</h1>
				<p>
				<b>优步(Uber)打车券。</b>请下载Uber手机app，输入优惠码UBERMKSK，可获赠30元。三环以内免费回校~<br>
				<b><del>专属大巴。</del></b><br/>
				<span class='small impor'>经测算，大巴每人收费10元，比直接组团打车还贵，建议大家直接用Uber免费打车来回。如Uber叫不到车，用滴滴也比大巴划算</span>
				</p>
			</section>
			<!-- section 4 -->
			<section class='section activity mt20'>
				<h1>活动</h1>
				<p>
				糗百有"天王盖地虎"，我们也要有高小恋专属标识！现场兑票时我们会发给你荧光棒，凭借荧光棒你就能找到组织啦！<br>
				此外，我们还会现场组织小型活动，让大家在欣赏各种表演的同时，还能认识来自各学校的朋友~~先透露一个：
				组队送明信片：在现场寻找异性组队，可领取武汉高校之恋明信片~~少年，大胆去搭讪吧！
			</section>
			<!-- section 5 -->
			<section class='section activity mt20'>
				<h1>报名费用</h1>
				<p>
				我们与主办方协商，为大家争取到了最优惠的校园票价组合：<br>
				单人票68块，双人票108块，三人票158块<br>
				女生买三人票，点击右下角[分享到朋友圈]按钮并对闺蜜"表白"，现场兑票时凭朋友圈记录，闺蜜免票(送一张)；<br/>
男生买三人票，点击右下角[分享到朋友圈]按钮并对基友"表白"，现场兑票时凭朋友圈记录，基友免票(送一张)；<br/>
                <span class='small impor'>简单来说，买三人票，分享朋友圈，额外送一张票</span>
			</section>
			<!-- section 6 -->
			<section class='section activity mt20'>
				<h1>支付说明</h1>
				<p>
				点击本页面左下角按钮"立即报名"进入购买页面。<br>
				<span class='impor'>傲娇的微信支付可能不能用，建议支付方式选择储蓄卡支付。</span>
                如果上述方式均无法付款可加微信hugleecool通过支付宝转账方式购票。
				支付成功后会生成二维码，活动现场扫二维码兑换门票、Uber30元打车券和专属荧光棒。
                <span class='impor'>23号支付系统出现过短暂异常，现已完全恢复。请大家放心购票</span>
				</p>	<br/><br/>
			</section>
			<!-- section 7 -->
            <!--
			<section class='section payment pb40'>
				<video controls="controls" preload="auto" class="video" poster="images/video.jpg" style="margin-top:-80px">
					<source src="http://static-juewangpo.qiniudn.com/Christmasvideo.mp4" type="video/mp4"></source>
					Your browser does not support the video tag.
				</video>
			</section>
			-->
		</div>
		<!-- pageWrap end -->
	</div>
	<!-- page end -->
	<div class='bottom_tab clear'>
		<button class='btn btn_regis trans'><a href="http://wap.koudaitong.com/v2/showcase/goods?alias=np6hu6oh" style="text-decoration:none; color: #fff" >立即报名</a></button>
		<button class='btn btn_share trans r'>分享到朋友圈</button>
	</div>
	<!-- extra -->
	<div class='cover hidden'></div>
	<!-- <div class='share iconfont hidden'>&#xf0113;
		<img src="images/icon.png" alt="微信分享">
	</div> -->
	<!-- extra end -->
</body>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src='/static/js/ticket.js'></script>
</html>